{{ if .dark }}
# No config
{{ else }}
[base]
unknown-token = #d71707

[paths]
path          = #0b51a6
path-to-dir   = #4f9fcf
pathseparator = #4f9eeb

[command-point]
reserved-word  = #4e279a
subcommand     = #4e279a
builtin        = green
function       = green
command        = green
precommand     = green
hashed-command = green
global-alias   = #2f6f9f,bg:#f5faff

[arguments]
single-hyphen-option = #2f6f9f,bg:#f5faff
double-hyphen-option = #2f6f9f,bg:#f5faff
single-quoted-argument = #000000,bg:#e8ffd5,bold
double-quoted-argument = #000000,bg:#e8ffd5,bold
dollar-quoted-argument = #000000,bg:#e8ffd5,bold

[other]
variable = #7653c1,bg:#f3f2ff

[for-loop]
foroper = #2f6f9f,bg:#f4faff

[math]
mathnum = #7653c1,bg:#f3f2ff
{{ end }}
