{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.name "Ubuntu")) -}}
#!/usr/bin/env bash

set -xe


eval "$($HOME/bin/rtx activate bash)"
eval "$($HOME/bin/rtx hook-env)"

chezmoi completion zsh > $HOME/.zsh/completions/_chezmoi

{{ end }}
