{{ if (or (eq .chezmoi.os "darwin") (and (eq .chezmoi.os "linux") (ne .chezmoi.arch "arm64") (ne .chezmoi.osRelease.id "centos"))) -}}
#!/usr/bin/env bash

# asdf globals tools hash: {{ include "dot_tool-versions" | sha256sum }}

ASDF_INSTALL="$HOME/.asdf"
ASDF_VERSION="v0.10.2"

if [[ -d "$ASDF_INSTALL" ]]
then
  cd "$ASDF_INSTALL"
  git pull
  git checkout "$ASDF_VERSION"
else
  git clone https://github.com/asdf-vm/asdf.git "$ASDF_INSTALL" --branch="$ASDF_VERSION"
fi

source ${ASDF_INSTALL}/asdf.sh

asdf_plugin_add() {
  if ! asdf plugin-list | grep -Fq "$1"
  then
    asdf plugin-add "$1"
  else
    echo "asdf plugin $1 already installed"
  fi
}

asdf_plugin_add python
asdf_plugin_add neovim
asdf_plugin_add direnv
asdf_plugin_add rust
asdf_plugin_add sqlite

asdf install
asdf direnv setup --shell zsh --version latest

asdf reshim

{{ end -}}
