{{ if eq .chezmoi.os "linux" -}}
{{ if eq .chezmoi.osRelease.name "Ubuntu" -}}
#!/usr/bin/env bash

if [ -x "$(command -v dconf)" ]; then

	dconf write /org/gnome/desktop/input-sources/xkb-options "['ctrl:nocaps']"

fi
{{- end }}
{{- end }}
