{{ if (or (eq .chezmoi.os "darwin") (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.name "Ubuntu"))) -}}
{{ $taplo_version := "0.8.1" -}}
{{ $pipx_pkgs := dict "ruff"     "0.2.0"
                     "ruff-lsp" "0.0.51"
                     "pyright"  "1.1.349" -}}
#!/usr/bin/env bash

set -xe

eval "$($HOME/bin/rtx activate bash)"
eval "$($HOME/bin/rtx hook-env)"

curl -fsSL https://github.com/tamasfe/taplo/releases/download/{{ $taplo_version }}/taplo-full-linux-x86_64.gz | gzip -d - | sudo install -m 755 /dev/stdin /usr/local/bin/taplo

{{ range keys $pipx_pkgs | sortAlpha }}
pipx install --force "{{ . }}=={{ get $pipx_pkgs . }}"
{{ end }}

npm install -g "@ansible/ansible-language-server"
npm install -g "vscode-langservers-extracted"

{{ end }}
