{{ if (and (or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin")) (ne .chezmoi.arch "arm64")) -}}
#!/usr/bin/env bash

# Brewfile hash: {{ include "dot_Brewfile" | sha256sum }}

brew analytics off

brew bundle --global

{{ end -}}
