{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.name "Ubuntu" )) -}}
{{ $packages := dict
				 "fd"    (dict "version" "9.0.0"  "url" "https://github.com/sharkdp/fd/releases/download/v${VERSION}/fd-v${VERSION}-i686-unknown-linux-musl.tar.gz")
				 "rg"    (dict "version" "14.0.3" "url" "https://github.com/BurntSushi/ripgrep/releases/download/${VERSION}/ripgrep-${VERSION}-x86_64-unknown-linux-musl.tar.gz")
				 "delta" (dict "version" "0.16.5" "url" "https://github.com/dandavison/delta/releases/download/${VERSION}/delta-${VERSION}-x86_64-unknown-linux-musl.tar.gz") -}}
#!/usr/bin/env bash

set -xe

DOWNLOAD_DIR=${TMPDIR:-/tmp}/devtools
INSTALL_DIR=$HOME/bin
export MANPAGE_DIR=$HOME/.local/man

mkdir -p $MANPAGE_DIR

mkdir -p $DOWNLOAD_DIR
pushd $DOWNLOAD_DIR

{{ range keys $packages }}
{{ $meta :=  get $packages . -}}
VERSION={{ get $meta "version" }}
echo "Downloading {{ . }} v{{ get $meta "version" }} ..."
curl -fsSL {{ get $meta "url" }} | tar --strip-components=1 -xz
install -m 755 $DOWNLOAD_DIR/{{ . }} $INSTALL_DIR/{{ . }}
{{ end }}

find . -name "*.1" | xargs -I {} sh -c 'install {} "$MANPAGE_DIR/$(basename {})"'

popd
rm -rf $DOWNLOAD_DIR

{{ end }}
