{{ if (or (eq .chezmoi.os "darwin") (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.name "Ubuntu"))) -}}
{{ $taplo_version := "0.8.1" -}}
{{ $ruff_version := "0.1.7" -}}
{{ $pyright_version := "1.1.338" -}}
#!/usr/bin/env bash

set -xe

eval "$($HOME/bin/rtx activate bash)"
eval "$($HOME/bin/rtx hook-env)"

curl -fsSL https://github.com/tamasfe/taplo/releases/download/{{ $taplo_version }}/taplo-full-linux-x86_64.gz | gzip -d - | sudo install -m 755 /dev/stdin /usr/local/bin/taplo

pipx install "ruff=={{ $ruff_version }}"
pipx install "pyright=={{ $pyright_version }}"

npm install -g "@ansible/ansible-language-server"
npm install -g "vscode-langservers-extracted"

{{ end }}
