{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.name "Ubuntu" )) -}}
#!/usr/bin/env bash

set -xe

DOWNLOADFILE=/tmp/bitwarden.deb
curl -fsSL "https://github.com/bitwarden/clients/releases/download/cli-v2024.2.0/bw-linux-2024.2.0.zip" | zcat | install -m 755 /dev/stdin $HOME/bin/bw
curl -fsSL "https://github.com/bitwarden/clients/releases/download/desktop-v2024.2.0/Bitwarden-2024.2.0-amd64.deb" > $DOWNLOADFILE
sudo dpkg --install --skip-same-version $DOWNLOADFILE
rm -rf $DOWNLOADFILE

rtx x rust@1.74.0 -- cargo install rbw

{{ end }}
