[submodule "vimwiki"]
	path = vimwiki
	url = git@bitbucket.org:zegervdv/vimwiki.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/tarruda/zsh-autosuggestions
