{{ if .dark }}
export FZF_DEFAULT_OPTS=" \
--color=bg+:#313244,bg:#1e1e2e,spinner:#f5e0dc,hl:#f38ba8 \
--color=fg:#cdd6f4,header:#f38ba8,info:#cba6f7,pointer:#f5e0dc \
--color=marker:#f5e0dc,fg+:#cdd6f4,prompt:#cba6f7,hl+:#f38ba8"
{{ else }}
export FZF_DEFAULT_OPTS="--color=fg:#000000,bg:#fbfafc,hl:#0b51a6 \
                         --color=fg+:#000000,bg+:#dbebff,hl+:#0b51a6 \
                         --color=info:#4f9fcf,prompt:#d44950,pointer:#d71707 \
                         --color=marker:#d71707,spinner:#4f9fcf,header:#7653c1"
{{ end }}
