{{ if .dark -}}
theme = "catppuccin_mocha"
{{ else -}}
theme = "tutticolori"
{{ end }}

[editor]
line-number = "relative"
cursorline = true
auto-save = true

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.whitespace.render]
newline = "all"

[editor.whitespace.characters]
newline = "¬"

[editor.indent-guides]
render = true
skip-levels = 1

[editor.statusline]
right = ["diagnostics", "selections", "register", "position", "position-percentage"]

[keys.insert]
C-f = "move_char_right"

[keys.normal]
x = "extend_line"

[keys.normal."space"]
o = "file_picker_in_current_buffer_directory"

[keys.normal.g]
l = ["collapse_selection", "extend_to_line_end"]
h = ["collapse_selection", "extend_to_line_start"]
s = ["collapse_selection", "select_mode", "goto_first_nonwhitespace", "exit_select_mode"]
