[Desktop Entry]
Name=Neovim
Type=Application
Terminal=false
Exec={{ .chezmoi.homeDir }}/.local/kitty.app/bin/kitty sh -c '/home/linuxbrew/.linuxbrew/bin/nvim %F'
MimeType=text/plain
X-Desktop-File-Install-Version=0.26
